<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.local.dao.StudentDao">
    <!--新增-->
    <insert id="insert">
        insert  into student values(#{sid},#{sname},#{ssex},#{sage});
    </insert>
    <!--删除-->
    <delete id="delete">
        delete from student where sid=#{sid};
    </delete>
    <!--修改-->
    <update id="update">
       update student set sname=#{sname},ssex=#{ssex},sage=#{sage} where sid=#{sid}
    </update>
    <!--查询-->
    <select id="selectOne" resultType="com.local.bean.Student">
        select sid,sname,ssex,sage from student where sid=#{sid}
    </select>
    <!--查询所有-->
    <select id="selectList" resultType="com.local.bean.Student">
        select sid,sname,ssex,sage from student;
    </select>
</mapper>
