<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--建议mapper类全名-->
<mapper namespace="com.local.mapper.StudentMapper">
<!--    增-->
    <insert id="insert" >
        insert into student values(#{sid},#{sname},#{ssex},#{sage});
    </insert>

<!--    删-->
    <delete id="delete">
        delete from student where sid=#{sid};
    </delete>

<!--    改-->
    <update id="update">
        update student set sname=#{sname},ssex=#{ssex},sage=#{sage} where sid=#{sid};
    </update>

<!--    查询单条-->
<select id="selectOne" resultType="com.local.bean.Student">
    select sid,sname,ssex,sage from student where sid=#{sid};
</select>

<!--    查询多条-->
<select id="selectList" resultType="com.local.bean.Student">
    select sid,sname,ssex,sage from student;
</select>

    <!--    查询男女各多少人-->
    <select id="selectCountBySex" resultType="map">
    select ssex as 性别,count(*) as 数量 from student group by ssex;
    </select>

    <!--    根据id查询名字-->
    <select id="selectNameById" resultType="String">
    select sname from student where sid=#{sid};
    </select>

    <!--    查询所有人根据id倒序排列-->
    <select id="selectAllOrderById" resultType="com.local.bean.Student">
    select sid,sname,ssex,sage from student order by sid ${flag}
    </select>


</mapper>