<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.local.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->

<!--    方案一: -->
<!--    <resultMap id="BaseResultMap" type="com.local.bean.Teacher">-->
<!--        <id column="tid" property="tid" />-->
<!--        <result column="tname" property="tname" />-->
<!--        <result column="tsex" property="tsex" />-->
<!--        <result column="tage" property="tage" />-->
<!--        <collection property="studentList" javaType="list" ofType="com.local.bean.Student" select="selectAllStudent" column="tid"></collection>-->
<!--    </resultMap>-->
<!--    <select id="selectAllStudent" resultType="com.local.bean.Student">-->
<!--        select s.sid,s.sname,s.ssex,s.sage from student s,tea_stu ts-->
<!--where s.sid=ts.sid and ts.tid=#{tid};-->
<!--    </select>-->

<!--    <select id="selectOne" resultMap="BaseResultMap">-->
<!--        select tid,tname,tsex,tage from teacher where tid=#{tid};-->
<!--    </select>-->

<!--    <select id="selectList" resultMap="BaseResultMap">-->
<!--        select tid,tname,tsex,tage from teacher-->
<!--    </select>-->


<!--    方案二 : -->
    <resultMap id="selectAll" type="com.local.bean.Teacher">
        <id column="tid" property="tid"></id>
        <result column="tname" property="tname"></result>
        <result column="tsex" property="tsex"></result>
        <result column="tage" property="tage"></result>
        <collection property="studentList" javaType="list" ofType="com.local.bean.Student">
            <id column="sid" property="sid"></id>
            <result column="sname" property="sname"></result>
            <result column="ssex" property="ssex"></result>
            <result column="sage" property="sage"></result>
        </collection>
    </resultMap>


    <select id="selectOne" resultMap="selectAll">
        select s.sid,s.sname,s.ssex,s.sage ,t.tid,t.tname,t.tsex,t.tage
from student s,teacher t ,tea_stu ts where
s.sid=ts.sid and t.tid=ts.tid and t.tid=#{tid};
    </select>

    <select id="selectList" resultMap="selectAll">
        select s.sid,s.sname,s.ssex,s.sage ,t.tid,t.tname,t.tsex,t.tage
from student s,teacher t ,tea_stu ts where
s.sid=ts.sid and t.tid=ts.tid
    </select>


</mapper>
